/* Fichier contenant la mise en forme du header et du footer*/
/* Ajout de la police Calib */

@font-face {
    font-family: "Helvetica";
    src: url('../font/Helvetica.ttf') format('truetype');
}


body {
    font-family: "Helvetica", sans-serif;
    margin: 0px;
}

ul {
    list-style-type: none;
}


/* header */

#title {
    text-align: center;
    margin-top: 30px;
}

#title h1 {
    margin: 0px;
}

#title h3 {
    margin: 5px;
}

nav > ul {
    margin: 0px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

nav {
    background-color: blue; 
    width: 100%;
    padding: 15px 0px;
}

li > a {
    color: inherit;
    text-decoration: inherit;
}

/* footer */

#real-footer  {
    display: flex;
    justify-content: center;
}

#real-footer > div {
    width: 250px;
    margin: 5px 30px;
}

#logo {
    display: flex;
    justify-content: space-around;
    margin: 0px -13px;
}

#logo img {
    width: 40px;
    height: 40px;
}

#logo img {
    border: 2px black solid;
    border-radius: 100px;
}

#logo img:hover {
    border: 2px rgb(193, 172, 172) solid;
}

#about {
    margin: 0px 0px 10px 0px;
}