/* Fichier contenant la mise en forme du header, du footer, et de la police*/
/* Ajout de la police Helvectica */

@font-face {
    font-family: "Helvetica";
    src: url('../font/Helvetica.ttf') format('truetype');
}

    /*  PALETTE DE COULEURS
        
        background-color: #FFFFFF; 
        background-color: #348E93; 
        background-color: #19646E; 
        background-color: #263EB1; 
        background-color: #351CC8;

        background-color: rgb(255, 255, 255); 
        background-color: rgb(52, 142, 147); 
        background-color: rgb(25, 100, 110); 
        background-color: rgb(38, 62, 177); 
        background-color: rgb(53, 28, 200);

        ===========================
        
        BLANC
        CYAN FONCÉ 
        CYAN FONCÉ ++
        BLEU
        VIOLET
    */


body {
    font-family: "Helvetica", sans-serif;
    margin: 0px;
}

ul {
    list-style-type: none;
}


/* header */

#title {
    text-align: center;
    width: 100%;
    height: 270px;
    text-shadow: 0px 0px 2em #351CC8;
    background-image: linear-gradient(rgba(38, 62, 177, 0.6), white), url("../images/DataCenter.webp");
    background-position: 0px, -550px;
}


#title h1 {
    padding-top: 0.75em;
    font-size: 4.5em;
    margin: 0px;
}

#title h2 {
    margin: 5px auto;
    width: 25%;
}

nav > ul {
    margin: 0px;
    display: flex;
    justify-content: center;
    gap: 7%;
}

nav {
    background-color: #263EB1;
    width: 100%;
    padding: 15px 0px;
}

li > * {
    color: white;
    text-decoration: inherit;
    letter-spacing: 0.05em;
}


/* footer */

#real-footer  {
    display: flex;
    justify-content: center;
}

#real-footer > div {
    width: 250px;
    margin: 5px 30px;
}

#logo {
    display: flex;
    justify-content: space-around;
    margin: 0px -13px;
}

#logo img {
    width: 40px;
    height: 40px;
}

#logo img {
    border: 2px black solid;
    border-radius: 100px;
}

#logo img:hover {
    border: 2px rgb(193, 172, 172) solid;
}

#about {
    margin: 0px 0px 10px 0px;
}