@font-face {
    font-family: "Calibri-Regular";
    src: url('../font/Calibri-Regular.ttf') format('truetype');
}

body {
    font-family: "Calibri-Regular", sans-serif;
}
#paragraphe {
    margin: 0px 150px 0px 50px;
}
#image{
    margin: 50px 400px 50px 400px;
}