.containerd {
    margin-left: auto;
    margin-right: 5%;
    width: 1000px;
    display: flex; 
    align-items: center; 
    padding-bottom: 35px;
}

.containerg {
    margin-left: 5%;
    margin-right: auto;
    width: 1000px;
    display: flex; 
    align-items: center; 
    padding: 35px;
}

.text1 {
    
    flex: 1;
    font-size: 12px; 
}


.titre {
    
    font-size: 20px; 
    margin: 0; 
}

.containerl {
    
    margin-left: auto;
    margin-right: auto;
    display: flex;
    text-align: center;
    flex-direction: column;
    width: 500px;
    padding-bottom: 25px;
}

.link{
    
    text-decoration: underline;
}

.link:hover{
    color:rgb( 52, 142, 147);
}