#content  {
    display: grid;
    justify-content: center;
}

#content > div {
    width: 600px;
    margin: 20px 20px;
}

main a {
    outline: none;
    text-decoration: none;
    color: black;
  }

main a:hover {
   color: rgb(110, 25, 25); 
}