/* Régulation du header */

#title h3 {
    width: 35%;
}

/* Page Principale */

#content  {
    display: grid;
    justify-content: center;
}

#content > div{
    width: 700px;
    
}

#content > div h4{
    width: 700px;
}

main a {
    outline: none;
    text-decoration: none;

  }

main #content > div h2:hover {
    color: rgb(52, 142, 147);  
}
   
main #content > div h2 {
    transition: 0.2s;
}
   
