#content  {
    display: grid;
    justify-content: center;
}

#content > div{
    width: 700px;
    
}

#content > div h4{
    width: 700px;
}


main a {
    outline: none;
    text-decoration: none;
    color: black;
  }

main #content > div h2:hover{
    color: rgb(52, 142, 147);  
}
   
