

.section{
  width: 50%;
  margin: auto;
  padding-bottom: 50px;
}

.image3,.image1,.image2{
  width: 20cm;
  padding-bottom: 50px;
  
}

.images,.titreBloc1,.titreBloc2,.titreBloc3,h1,h2,h3{
  text-align: center;
}


p{
  color: rgb(43, 23, 160);
}

.titreBloc1,.titreBloc2,.titreBloc3,li{
  color: rgb(43, 23, 160);
}

