  /* Ajout de la police Calib */

@font-face {
    font-family: "Calibri-Regular";
    src: url('../font/Calibri-Regular.ttf') format('truetype');
}




.sous-titre{
  margin-left: 12cm;
  margin-right: 12cm;
  font-size: 140%;
}

.image2{
  width: 18cm;
  position: absolute; /* Positionne l'image absolument par rapport à son parent (.premier-bloc) */
  top: 35%; /* Place le haut de l'image au milieu de son parent */
  left: 1cm; /* Place la gauche de l'image au milieu de son parent */

}

.image3,.image1{
  width: 18cm;
  position: absolute; /* Positionne l'image absolument par rapport à son parent (.premier-bloc) */
  top: 75%; /* Place le haut de l'image au milieu de son parent */
  left: 30%; /* Place la gauche de l'image au milieu de son parent */
  transform: translate(50%, -70%); /* Centre l'image parfaitement */
}

.paragraphe1{
  padding-left: 4%;
  padding-right: 50%;
  position: relative;
}

.paragraphe2{
  padding-left: 50%;
  padding-right: 4%;
  position: relative;
}

.bloc1,.bloc2{
  padding-top: 3cm;
  position: relative;
}

.titreBloc1{
  padding-bottom: 1cm;
  padding-right: 50%;
}


.titreBloc2{
  padding-bottom: 1cm;
  padding-left: 38%;

}


.titreBloc3{
  padding-bottom: 1cm;
  padding-right: 52%;

}


h1,h2{
  text-align: center;

}

h2{
  font-size: 200%
}

h1{
  padding-top: 1cm;
  padding-bottom: 1cm;
  font-size: 300%;
}

p{
  font-size: 160%;
}

body {
    font-family: "Calibri-Regular", sans-serif;

}
