/* Ajout de la police Calib */

@font-face {
    font-family: "Calibri-Regular";
    src: url('../font/Calibri-Regular.ttf') format('truetype');
}



.sous-titre{
  margin-left: 16cm;
  margin-right: 16cm;
}

.image1{
  width: 10cm;
  position: absolute;
  top: 130%;
  left: 55%;
  transform: translate(-75%, -50%);
}

.image2{
  width: 10cm;
  position: absolute;
  top: 130%;

  transform: translate(200%, -50%);
}

.image3{
  width: 10cm;
  position: absolute;
  top: 130%;
  left: 55%;
  transform: translate(-75%, -50%);
}

.paragraphe1{
  padding-left: 20%;
  padding-right: 20%;
  position: relative;
}

.paragraphe2{
  padding-left: 20%;
  padding-right: 20%;
  position: relative;
}

.bloc1,.bloc2{
  padding-top: 6cm;
  position: relative;
}

h1,h2{
  text-align: center;

}


p{
  font-size: 125%;
}

body {
    font-family: "Calibri-Regular", sans-serif;

}
