/* Ajout de la police Calib */

@font-face {
    font-family: "Calibri-Regular";
    src: url('../font/Calibri-Regular.ttf') format('truetype');
}

body {
    font-family: "Calibri-Regular", sans-serif;
}

#real-footer  {
    display: flex;
    justify-content: center;
}

#real-footer > div {
    width: 250px;
    margin: 5px 30px;
}

#logo {
    display: flex;
    justify-content: space-around;
    margin: 0px -13px;
}

#logo img {
    width: 40px;
    height: 40px;
}

#logo img:not(.no-border) {
    border: 2px solid;
    border-radius: 100px;
}


#about {
    margin: 0px 0px 10px 0px;
}